@model AllAppTaskQueryModel

@{
    ViewBag.Title = "Task List";
}
<a class="btn btn-success" style="margin-bottom: 10px" asp-area="" asp-controller="AppTask" asp-action="Add">Add Task</a>


<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" class="form-control">
                    <option value="">All</option>
                    @foreach (var stat in Model.AllStatusNames)
                    {
                        <option value="@stat">@stat</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm">Search</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting">Sorting by date</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
@if (Model.AppTasks.LongCount() == 0)
{
    <div> Not Yet Task</div>
}
else
{


    <partial name="_AppTaskPartial" />
}
