@model IEnumerable<AppTaskViewModel>

@{
    ViewBag.Title = "Task List";
}
<a class="btn btn-success" style="margin-bottom: 10px" asp-area="" asp-controller="AppTask" asp-action="Add">Add Task</a>
@if (Model.LongCount() == 0)
{
    <div> Not Yet Task</div>
}
else
{
    <partial name="_AppTaskPartial" />
}
