@model IEnumerable<AssetViewModel>

@{
    ViewBag.Title = "Assets";
}
<a class="nav-link text-dark" asp-area="" asp-controller="Asset" asp-action="Add">Add Asset</a>
@if (Model.LongCount() == 0)
{
    <div> Not Yet Assets!</div>
}
else
{

    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Person responsible</th>
        </tr>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.Name</td>
                <td>@asset.Description</td>
                <td>@(asset.IsAvailable == true ? "Available" : "End of life")</td>
                <td>@asset.PersonResponsible</td>
            </tr>
        }

    </table>
}