@model MachineDetailsViewModel


<section>
    <div className="wrapper">
        <div className="landmarkCover">
            <img src="@Model.ImageUrl" />
        </div>
        <div className="landmarkInfo">
            <div className="landmarkText">
                <h1>
                    Name:@Model.Name
                </h1>
                <h3>
                    Code:@Model.Code
                </h3>
                <p>
                    Description:@Model.Description
                </p>
                <p>
                    Location:@Model.Location
                </p>
            </div>

        </div>
    </div>
</section>


<div>
    <button><a class="nav-link text-dark" asp-controller="Machine" asp-action="All">Cancel</a></button>

    <a class="btn btn-warning" asp-controller="Machine" asp-action="Edit"
       asp-route-machineId="@Model.Id">Edit</a>
    <form class="input-group-sm" asp-route-machineId="@Model.Id" asp-controller="Machine" asp-action="Delete" method="post">
        <input type="submit" value="Delete" class="fs-6 btn btn-success mb-3 p-2" />
    </form>

</div>

