@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MaintSoft</h1>
    <h2>Software supporting the work of maintenance.Stock availability and daily tasks.</h2>
</div>
