@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center index-title">
    <h1 class="display-4" style="font-weight:700">MaintSoft</h1>
    <p style="font-size: 25px">Software supporting the work of maintenance.</p>
    <p style="font-size: 25px">Stock availability and daily tasks.</p>
</div>
